{% extends 'base.html' %}

{% block content %}

<div class="container">

    <div class="vehicle-manage-box">
      
      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-primary fw-bold btn-sm" id="addVehicle" data-bs-toggle="modal" data-bs-target="#addUpdateModal"> + Add Vehicle</button>
      </div>

     <div class="table-responsive" style="height:395px;">
      <table class="table table-striped">
        <thead>
            <th class="text-center"> Image </th>
            <th class="text-center"> Name </th>
            <th class="text-center"> Speed </th>
            <th class="text-center"> Average Speed </th>
            <th class="text-center"> Temperature </th>
            <th class="text-center"> Fuel Level </th>
            <th class="text-center"> Engine Status </th>
            <th class="text-center"> Action</th>
        </thead>
        <tbody>
            {% for vehicle in vehicles %}
            <tr>
                <td><img src="/media/{{vehicle.camera1}}" class="rounded" alt="" style="height:50px;width:100px;"></td>
                <td class="fw-bold">{{vehicle.name}}</td>
                <td class="text-center">{{vehicle.speed}} km/hr </td>
                <td class="text-center">{{vehicle.average_speed}} km/hr </td>
                <td class="text-center">{{vehicle.temperature}}<sup>o</sup>C</td>
                <td class="text-center">{{vehicle.fuel_level}} liters</td>
                <td class="text-center">{{vehicle.engine_status}}</td>
                <td>
                  <button type="button" class="btn btn-sm btn-primary mt-1" data-bs-toggle="modal" data-bs-target="#addUpdateModal" onclick="vehicleDetail('{{vehicle.id}}')">Update</button>
                  <button type="button" class="btn btn-sm btn-danger mt-1" data-bs-toggle="modal" data-bs-target="#deleteModal" onclick="deleteVehicle('{{vehicle.id}}')">Delete</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
    
      
      <!-- Add/Update Vehicle Modal -->
      <div class="modal fade" id="addUpdateModal" tabindex="-1" aria-labelledby="addUpdateModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title fs-3 text-primary" id="addUpdateModalLabel">Update Vehicle Form</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <form action="" method="post" id="addUpdateForm" enctype="multipart/form-data">
                    {% csrf_token %}
                      {{form.as_p}}
                 
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="Submit" class="btn btn-primary" id="addUpdateButton">Update</button>
              </form>
              </div>
            </div>
          </div>
        </div>
      
      <!-- Delete Modal -->
  
      <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel">Delete Vehicle </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" method="post" id="deleteForm">
                  {% csrf_token %} 
                  <h5>Are You sure?</h5>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="Submit" class="btn btn-danger">Delete</button>
            </form>
            </div>
          </div>
        </div>
      </div>


      <!--- PAGINATION -->

      {% if is_paginated %}
      <div class="d-flex justify-content-end">
        <p class="fw-bold">Page {{page_obj.number}} of {{paginator.num_pages}}</p>
      </div>
      <div class="d-flex justify-content-center">
      <nav>
          <ul class="pagination">
          {% if page_obj.has_previous %}
            <li class="page-item">
                  <a class="page-link" href="?page={{page_obj.previous_page_number}}" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                  </a>
            </li>
          {% endif %}
          
    
          {% for i in paginator.page_range%}
              {% if page_obj.number == i %}
                  <li class="page-item active"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
             {% else %}
              <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
             {% endif %}
          {% endfor %}
          
          {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{page_obj.next_page_number}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          {% endif %}
          </ul>
        </nav>
      {% endif %}
  
    </div>

</div>

{% endblock %}